<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.ContactPlanMapper" >
  <insert id="insert" parameterType="org.nothink.ballcrm.entity.ContactPlanEntity" >
    insert into contact_plan ( plan_note, create_date,
      plan_date, sid, eid, 
      status, verify_status, verify_note,
      verify_eid)
    values (#{planNote,jdbcType=VARCHAR}, now(),
      #{planDate,jdbcType=TIMESTAMP}, #{sid,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{verifyStatus,jdbcType=VARCHAR}, #{verifyNote,jdbcType=VARCHAR},
      #{verifyEid,jdbcType=INTEGER})
  </insert>
  <select id="getPlanList" resultType="org.nothink.ballcrm.entity.ContactPlanEntity" parameterType="org.nothink.ballcrm.entity.PlanCriteria">
    select * from contact_plan where 1=1
    <if test="status!=null and status!=''"> and status = #{status} </if>
    <if test="sid!=null and sid!=''"> and sid = #{sid} </if>
    <if test="eid!=null and eid!=''"> and eid = #{eid} </if>
    <if test="planDate!=null and planDate!=''"> and plan_date = #{planDate} </if>
    <if test="verifyStatus!=null and verifyStatus!=''"> and verify_status = #{verifyStatus} </if>
  </select>
</mapper>