<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.CourseScheduleMapper" >

  <!-- 学员课程表 -->
  <select id="getCourseScheduleList" resultType="org.nothink.ballcrm.entity.CourseScheduleEntity" parameterType="org.nothink.ballcrm.entity.CourseScheduleEntity">
    select * from course_schedule
    where 1=1
    <if test="sid!=null and sid!=''"> and sid = #{sid} </if>
    order by booking_date desc
  </select>

  <!-- 明日上课提醒表 销售看 -->
  <select id="getNotifyScheduleList" resultType="org.nothink.ballcrm.entity.CourseScheduleEntity" parameterType="org.nothink.ballcrm.entity.CourseScheduleEntity">
    select
    c.*,
    s.name as s_name,
    s.tel as tel,
    course.type_name as course_type_name
    from course_schedule c inner join stu s on s.sid=c.sid
    inner join course_type course on course.pkid=c.course_type_id
    where 1=1
    <if test="eid!=null"> and s.cc=#{eid} </if>
    <if test="nid!=null"> and s.node=#{nid} </if>
    <if test="notifyStatus!=null and notifyStatus!='' "> and c.notify_status = #{notifyStatus} </if>

    <if test="startDate!=null">and c.booking_date &gt;= #{startDate}</if>
    <if test="endDate!=null">and c.booking_date &lt;= #{endDate}</if>
    <if test="startDate==null and endDate==null">
      and c.booking_date &gt;= date_add(curdate(),interval 1 day)
      and c.booking_date &lt; date_add(curdate(),interval 2 day)
    </if>
  </select>

  <!-- 当日约课表 销售 和 ccm 都可用 -->
  <select id="getScheduleToday" resultType="org.nothink.ballcrm.entity.CourseScheduleEntity" parameterType="org.nothink.ballcrm.entity.CourseScheduleEntity">
    select
    c.*,
    s.name as sName,
    s.tel as tel
    from course_schedule c inner join stu s on s.sid=c.sid
    where 1=1
    <if test="eid!=null"> and s.cc=#{eid} </if>
    <if test="nid!=null"> and s.node=#{nid} </if>
    <if test="traceStatus!=null and traceStatus!='' "> and c.trace_status = #{traceStatus} </if>
    <if test="startDate!=null or endDate!=null">
      <!-- 选了时间段，查时间段的所有 -->
      <if test="startDate!=null">and c.booking_date &gt;= #{startDate}</if>
      <if test="endDate!=null">and c.booking_date &lt;= #{endDate}</if>
    </if>
    <if test="startDate==null and endDate==null">
      <!-- 未选时间段，查今日的所有和之前的待办 -->
      and (
        (c.booking_date &gt;= curdate() and c.booking_date &lt; date_add(curdate(),interval 1 day))
        or (c.booking_date &lt; curdate() and c.trace_status='PST01')
      )
    </if>
    order by c.booking_date asc
  </select>

  <select id="selectByPrimaryKey" resultType="org.nothink.ballcrm.entity.CourseScheduleEntity" parameterType="java.lang.Integer" >
    select 
    *
    from course_schedule
    where pkid = #{pkid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_schedule
    where pkid = #{pkid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.nothink.ballcrm.entity.CourseScheduleEntity" >
    insert into course_schedule (pkid, sid, booking_date, 
      course_type_id, teach_eid, notify_status, 
      notify_note, sign_status, trace_status, 
      trace_note, create_date,trace_eid,close_eid)
    values (#{pkid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{bookingDate,jdbcType=DATE}, 
      #{courseTypeId,jdbcType=INTEGER}, #{teachEid,jdbcType=INTEGER}, #{notifyStatus,jdbcType=VARCHAR}, 
      #{notifyNote,jdbcType=VARCHAR}, #{signStatus,jdbcType=VARCHAR}, #{traceStatus,jdbcType=VARCHAR}, 
      #{traceNote,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},#{traceEid,jdbcType=INTEGER},#{closeEid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.nothink.ballcrm.entity.CourseScheduleEntity" >
    insert into course_schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        pkid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="bookingDate != null" >
        booking_date,
      </if>
      <if test="courseTypeId != null" >
        course_type_id,
      </if>
      <if test="teachEid != null" >
        teach_eid,
      </if>
      <if test="notifyStatus != null" >
        notify_status,
      </if>
      <if test="notifyNote != null" >
        notify_note,
      </if>
      <if test="signStatus != null" >
        sign_status,
      </if>
      <if test="traceStatus != null" >
        trace_status,
      </if>
      <if test="traceNote != null" >
        trace_note,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="traceEid != null" >
        trace_eid,
      </if>
      <if test="closeEid != null" >
        close_eid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="bookingDate != null" >
        #{bookingDate,jdbcType=DATE},
      </if>
      <if test="courseTypeId != null" >
        #{courseTypeId,jdbcType=INTEGER},
      </if>
      <if test="teachEid != null" >
        #{teachEid,jdbcType=INTEGER},
      </if>
      <if test="notifyStatus != null" >
        #{notifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="notifyNote != null" >
        #{notifyNote,jdbcType=VARCHAR},
      </if>
      <if test="signStatus != null" >
        #{signStatus,jdbcType=VARCHAR},
      </if>
      <if test="traceStatus != null" >
        #{traceStatus,jdbcType=VARCHAR},
      </if>
      <if test="traceNote != null" >
        #{traceNote,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="traceEid != null" >
        #{traceEid,jdbcType=INTEGER},
      </if>
      <if test="closeEid != null" >
        #{closeEid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.nothink.ballcrm.entity.CourseScheduleEntity" >
    update course_schedule
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="bookingDate != null" >
        booking_date = #{bookingDate,jdbcType=DATE},
      </if>
      <if test="courseTypeId != null" >
        course_type_id = #{courseTypeId,jdbcType=INTEGER},
      </if>
      <if test="teachEid != null" >
        teach_eid = #{teachEid,jdbcType=INTEGER},
      </if>
      <if test="notifyStatus != null" >
        notify_status = #{notifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="notifyNote != null" >
        notify_note = #{notifyNote,jdbcType=VARCHAR},
      </if>
      <if test="signStatus != null" >
        sign_status = #{signStatus,jdbcType=VARCHAR},
      </if>
      <if test="traceStatus != null" >
        trace_status = #{traceStatus,jdbcType=VARCHAR},
      </if>
      <if test="traceNote != null" >
        trace_note = #{traceNote,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="traceEid != null" >
        trace_eid = #{traceEid,jdbcType=INTEGER},
      </if>
      <if test="closeEid != null" >
        close_eid = #{closeEid,jdbcType=INTEGER},
      </if>
    </set>
    where pkid = #{pkid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nothink.ballcrm.entity.CourseScheduleEntity" >
    update course_schedule
    set sid = #{sid,jdbcType=INTEGER},
      booking_date = #{bookingDate,jdbcType=DATE},
      course_type_id = #{courseTypeId,jdbcType=INTEGER},
      teach_eid = #{teachEid,jdbcType=INTEGER},
      notify_status = #{notifyStatus,jdbcType=VARCHAR},
      notify_note = #{notifyNote,jdbcType=VARCHAR},
      sign_status = #{signStatus,jdbcType=VARCHAR},
      trace_status = #{traceStatus,jdbcType=VARCHAR},
      trace_note = #{traceNote,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      trace_eid = #{traceEid,jdbcType=INTEGER},
      close_eid = #{closeEid,jdbcType=INTEGER},
    where pkid = #{pkid,jdbcType=INTEGER}
  </update>
</mapper>