<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.CourseTypeMapper" >

  <insert id="insert" parameterType="org.nothink.ballcrm.entity.CourseTypeEntity" >
    insert into course_type (type_name, desc, num)
    values (#{typeName,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR},
      #{num,jdbcType=INTEGER})
  </insert>
</mapper>