<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.EmpInfoMapper" >

  <!-- 得到所有员工列表 -->
  <select id="getEmpList" resultType="org.nothink.ballcrm.entity.EmpInfoEntity" parameterType="org.nothink.ballcrm.entity.EmpInfoEntity">
    select * from emp_info
    where 1=1
    <if test="nid!=null"> and nid = #{nid} </if>
    <if test="role!=null"> and role = #{role} </if>
  </select>

  <!--查询员工今日联系计划待办数量 -->
  <select id="getTodayTodoPlan" parameterType="java.lang.Integer" resultType="org.nothink.ballcrm.entity.Statistics">
    select
    eid,
    count(*) as num
    from contact_plan p
    where 1=1
    and eid=#{eid}
    and p.status = 'PST01'
    and p.plan_date &gt;= curdate()
    and p.plan_date &lt; date(curdate()+1)
    group by eid
  </select>

  <!--查询员工待处理课程数量-->
  <select id="getTodoSchedule" parameterType="java.lang.Integer" resultType="org.nothink.ballcrm.entity.Statistics">
    select
    s.cc as eid,
    count(*) as num
    from course_schedule c inner join stu s on s.sid=c.sid
    where
    s.cc=#{eid}
    and c.booking_date &lt; date(curdate()+1)
    and c.trace_status = 'PST01'
    group by s.cc
  </select>
  <!--查询员工明日提醒数量-->
  <select id="getTomorrowTodoNotify" parameterType="java.lang.Integer" resultType="org.nothink.ballcrm.entity.Statistics">
    select
    s.cc as eid,
    count(*) as num
    from course_schedule c inner join stu s on s.sid=c.sid
    where
    s.cc=#{eid}
    and c.booking_date &gt;= date(curdate()+1)
    and c.booking_date &lt; date(curdate()+2)
    and c.notify_status = 'PST01'
    group by s.cc
  </select>


  <select id="selectByPrimaryKey" resultType="org.nothink.ballcrm.entity.EmpInfoEntity" parameterType="java.lang.Integer" >
    select
    *
    from emp_info
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="getEmpByLoginid" resultType="org.nothink.ballcrm.entity.EmpInfoEntity" parameterType="java.lang.String" >
    select * from emp_info
    where loginid=#{loginid} limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp_info
    where eid = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.nothink.ballcrm.entity.EmpInfoEntity" >
    insert into emp_info (eid, name, loginid,
      pass, role, nid)
    values (#{eid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{loginid,jdbcType=VARCHAR},
      #{pass,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, #{nid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelectiveAndGetKey" useGeneratedKeys="true" keyProperty="eid"  parameterType="org.nothink.ballcrm.entity.EmpInfoEntity" >
    insert into emp_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        eid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="loginid != null" >
        loginid,
      </if>
      <if test="pass != null" >
        pass,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="nid != null" >
        nid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginid != null" >
        #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        #{pass,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="nid != null" >
        #{nid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.nothink.ballcrm.entity.EmpInfoEntity" >
    update emp_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="loginid != null" >
        loginid = #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="pass != null" >
        pass = #{pass,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="nid != null" >
        nid = #{nid,jdbcType=INTEGER},
      </if>
    </set>
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nothink.ballcrm.entity.EmpInfoEntity" >
    update emp_info
    set name = #{name,jdbcType=VARCHAR},
      loginid = #{loginid,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      nid = #{nid,jdbcType=INTEGER}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
</mapper>