<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.StuCourseMapper" >

  <select id="getStuCourseListBySid" resultType="org.nothink.ballcrm.entity.StuCourseEntity" parameterType="java.lang.Integer">
    select
      buy.*,
      c.type_name as course_name
    from
      stu_course buy inner join course_type c on buy.course_type_id=c.pkid
    where sid=#{sid}
  </select>

  <select id="selectByPrimaryKey" resultType="org.nothink.ballcrm.entity.StuCourseEntity" parameterType="java.lang.Integer" >
    select
    *
    from stu_course
    where pkid = #{pkid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stu_course
    where pkid = #{pkid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.nothink.ballcrm.entity.StuCourseEntity" >
    insert into stu_course (pkid, sid, course_type_id,
      num, fee, create_date,
      end_date)
    values (#{pkid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{courseTypeId,jdbcType=INTEGER},
      #{num,jdbcType=INTEGER}, #{fee,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
      #{endDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.nothink.ballcrm.entity.StuCourseEntity" >
    insert into stu_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        pkid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="courseTypeId != null" >
        course_type_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="courseTypeId != null" >
        #{courseTypeId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.nothink.ballcrm.entity.StuCourseEntity" >
    update stu_course
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="courseTypeId != null" >
        course_type_id = #{courseTypeId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pkid = #{pkid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nothink.ballcrm.entity.StuCourseEntity" >
    update stu_course
    set sid = #{sid,jdbcType=INTEGER},
      course_type_id = #{courseTypeId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      fee = #{fee,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP}
    where pkid = #{pkid,jdbcType=INTEGER}
  </update>
</mapper>