<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.StuFamilyMapper" >

  <select id="selectByPrimaryKey" resultType="org.nothink.ballcrm.entity.StuFamilyEntity" parameterType="java.lang.Integer" >
    select 
    *
    from stu_family
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stu_family
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.nothink.ballcrm.entity.StuFamilyEntity" >
    insert into stu_family (sid, pay_ability, pay_will_mother, 
      pay_will_father, class_weekday, class_time, 
      demo_target, education_idea, pickup, 
      deal, deal_reason, update_date
      )
    values (#{sid,jdbcType=INTEGER}, #{payAbility,jdbcType=INTEGER}, #{payWillMother,jdbcType=INTEGER}, 
      #{payWillFather,jdbcType=INTEGER}, #{classWeekday,jdbcType=INTEGER}, #{classTime,jdbcType=TIME}, 
      #{demoTarget,jdbcType=VARCHAR}, #{educationIdea,jdbcType=VARCHAR}, #{pickup,jdbcType=INTEGER}, 
      #{deal,jdbcType=INTEGER}, #{dealReason,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.nothink.ballcrm.entity.StuFamilyEntity" >
    insert into stu_family
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="payAbility != null" >
        pay_ability,
      </if>
      <if test="payWillMother != null" >
        pay_will_mother,
      </if>
      <if test="payWillFather != null" >
        pay_will_father,
      </if>
      <if test="classWeekday != null" >
        class_weekday,
      </if>
      <if test="classTime != null" >
        class_time,
      </if>
      <if test="demoTarget != null" >
        demo_target,
      </if>
      <if test="educationIdea != null" >
        education_idea,
      </if>
      <if test="pickup != null" >
        pickup,
      </if>
      <if test="deal != null" >
        deal,
      </if>
      <if test="dealReason != null" >
        deal_reason,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="payAbility != null" >
        #{payAbility,jdbcType=INTEGER},
      </if>
      <if test="payWillMother != null" >
        #{payWillMother,jdbcType=INTEGER},
      </if>
      <if test="payWillFather != null" >
        #{payWillFather,jdbcType=INTEGER},
      </if>
      <if test="classWeekday != null" >
        #{classWeekday,jdbcType=INTEGER},
      </if>
      <if test="classTime != null" >
        #{classTime,jdbcType=TIME},
      </if>
      <if test="demoTarget != null" >
        #{demoTarget,jdbcType=VARCHAR},
      </if>
      <if test="educationIdea != null" >
        #{educationIdea,jdbcType=VARCHAR},
      </if>
      <if test="pickup != null" >
        #{pickup,jdbcType=INTEGER},
      </if>
      <if test="deal != null" >
        #{deal,jdbcType=INTEGER},
      </if>
      <if test="dealReason != null" >
        #{dealReason,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.nothink.ballcrm.entity.StuFamilyEntity" >
    update stu_family
    <set >
      <if test="payAbility != null" >
        pay_ability = #{payAbility,jdbcType=INTEGER},
      </if>
      <if test="payWillMother != null" >
        pay_will_mother = #{payWillMother,jdbcType=INTEGER},
      </if>
      <if test="payWillFather != null" >
        pay_will_father = #{payWillFather,jdbcType=INTEGER},
      </if>
      <if test="classWeekday != null" >
        class_weekday = #{classWeekday,jdbcType=INTEGER},
      </if>
      <if test="classTime != null" >
        class_time = #{classTime,jdbcType=TIME},
      </if>
      <if test="demoTarget != null" >
        demo_target = #{demoTarget,jdbcType=VARCHAR},
      </if>
      <if test="educationIdea != null" >
        education_idea = #{educationIdea,jdbcType=VARCHAR},
      </if>
      <if test="pickup != null" >
        pickup = #{pickup,jdbcType=INTEGER},
      </if>
      <if test="deal != null" >
        deal = #{deal,jdbcType=INTEGER},
      </if>
      <if test="dealReason != null" >
        deal_reason = #{dealReason,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nothink.ballcrm.entity.StuFamilyEntity" >
    update stu_family
    set pay_ability = #{payAbility,jdbcType=INTEGER},
      pay_will_mother = #{payWillMother,jdbcType=INTEGER},
      pay_will_father = #{payWillFather,jdbcType=INTEGER},
      class_weekday = #{classWeekday,jdbcType=INTEGER},
      class_time = #{classTime,jdbcType=TIME},
      demo_target = #{demoTarget,jdbcType=VARCHAR},
      education_idea = #{educationIdea,jdbcType=VARCHAR},
      pickup = #{pickup,jdbcType=INTEGER},
      deal = #{deal,jdbcType=INTEGER},
      deal_reason = #{dealReason,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>