<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.StuMapper" >

  <select id="findById" resultType="org.nothink.ballcrm.entity.StuEntity">
    select * from stu where sid=#{sid}
  </select>
  <select id="getAll" resultType="org.nothink.ballcrm.entity.StuEntity" parameterType="org.nothink.ballcrm.entity.StuCriteria">
    select * from stu where 1=1
    <if test="name != null and name!='' "> and name like CONCAT('%',#{name},'%') or niki_name like CONCAT('%',#{name},'%') </if>
    <if test="status!=null and status!='' "> and status = #{status} </if>
    <if test="type!=null and type!='' "> and type = #{type} </if>
    <if test="verifyStatus!=null and verifyStatus!='' "> and verify_status = #{verifyStatus} </if>
    <if test="cc!=null and cc!=''"> and cc = #{cc} </if>
    <if test="node!=null and node!=''"> and node = #{node} </if>
  </select>
  <insert id="insertAndGetSid" useGeneratedKeys="true" keyProperty="sid"  parameterType="org.nothink.ballcrm.entity.StuCriteria" >
    insert into stu (create_date, name,
      niki_name, birthday, sex, 
      tel, status, verify_status, 
      channel, channel_note, type, 
      wechat, cc, node)
    values ( now(), #{name,jdbcType=VARCHAR},
      #{nikiName,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{sex,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{verifyStatus,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{channelNote,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{cc,jdbcType=INTEGER}, #{node,jdbcType=INTEGER})
  </insert>
</mapper>