<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.StuMapper" >

  <!-- 根据销售名下 或 机构获取学员列表 -->
  <select id="getStuList" resultType="org.nothink.ballcrm.entity.StuEntity" parameterType="org.nothink.ballcrm.entity.StuEntity">
    select * from stu where 1=1
    <if test="name != null and name!='' "> and name like CONCAT('%',#{name},'%') or niki_name like CONCAT('%',#{name},'%') </if>
    <if test="status!=null and status!='' "> and status = #{status} </if>
    <if test="type!=null and type!='' "> and type = #{type} </if>
    <if test="verifyStatus!=null and verifyStatus!='' "> and verify_status = #{verifyStatus} </if>
    <if test="cc!=null and cc!=''"> and cc = #{cc} </if>
    <if test="node!=null and node!=''"> and node = #{node} </if>
  </select>


  <select id="selectByPrimaryKey" resultType="org.nothink.ballcrm.entity.StuEntity" parameterType="java.lang.Integer" >
    select
    *
    from stu
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stu
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.nothink.ballcrm.entity.StuEntity" >
    insert into stu (sid, create_date, name,
      niki_name, birthday, sex,
      tel, status, verify_status,
      channel, channel_note, type,
      wechat, cc, node)
    values (#{sid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR},
      #{nikiName,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{sex,jdbcType=VARCHAR},
      #{tel,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{verifyStatus,jdbcType=VARCHAR},
      #{channel,jdbcType=VARCHAR}, #{channelNote,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{wechat,jdbcType=VARCHAR}, #{cc,jdbcType=INTEGER}, #{node,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelectiveAndGetKey" useGeneratedKeys="true" keyProperty="sid"  parameterType="org.nothink.ballcrm.entity.StuEntity" >
    insert into stu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nikiName != null" >
        niki_name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="verifyStatus != null" >
        verify_status,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="channelNote != null" >
        channel_note,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="cc != null" >
        cc,
      </if>
      <if test="node != null" >
        node,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nikiName != null" >
        #{nikiName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="verifyStatus != null" >
        #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelNote != null" >
        #{channelNote,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="cc != null" >
        #{cc,jdbcType=INTEGER},
      </if>
      <if test="node != null" >
        #{node,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.nothink.ballcrm.entity.StuEntity" >
    update stu
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nikiName != null" >
        niki_name = #{nikiName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="verifyStatus != null" >
        verify_status = #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelNote != null" >
        channel_note = #{channelNote,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="cc != null" >
        cc = #{cc,jdbcType=INTEGER},
      </if>
      <if test="node != null" >
        node = #{node,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nothink.ballcrm.entity.StuEntity" >
    update stu
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      niki_name = #{nikiName,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      sex = #{sex,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      verify_status = #{verifyStatus,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      channel_note = #{channelNote,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      cc = #{cc,jdbcType=INTEGER},
      node = #{node,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>




</mapper>