<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nothink.ballcrm.mapper.StuStatusMapper" >
  <insert id="insert" parameterType="org.nothink.ballcrm.entity.StuStatusEntity" >
    insert into stu_status (sid, create_date, status, note)
    values (#{sid,jdbcType=INTEGER}, now(),
      #{status,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>
  <select id="getStuStatusListBySid" resultType="org.nothink.ballcrm.entity.StuStatusEntity">
    select * from stu_status where sid=#{sid} order by create_date desc
  </select>
</mapper>